@using Capstone.Web.Models.PageModels
@model DetailPage

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/tempSwitch.css" />

    <script type="text/javascript">
   
    </script>

    <style>

        .row {
            background-color: white;
        }

        .data:nth-child(odd) {
            background-color: burlywood;
        }

        .data {
            background-color: darkkhaki;
        }

        .bold {
            font-weight: bold;
            padding-top: 20px;
        }

        .header {
            height: 20%;
            width: auto;
        }

        .img {
            position: center;
            width: inherit;
        }

        .title {
            font-weight: bold;
            font-size: 2em;
        }

        .row {
            padding-bottom: 2%
        }
    </style>
    <meta charset="utf-8" />
    <title>@Model.NatPark.ParkName</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12"><img class="img border" src="~/Content/img/parks/@(Model.NatPark.ParkCode + "-l.jpg")"></div>
        </div>
        <div class="row">
            <div class="col-12 title border-bottom">@Model.NatPark.ParkName </div>
        </div>

        <div class="row">
            <div class="col-12">@Model.NatPark.ParkDescription </div>
        </div>

        @Html.Partial("Weather")

    </div>

</body>
</html>