@using Capstone.Web.Models
@model List<Park>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <style>

        .row {
            background-color: white;
        }

        .data:nth-child(odd) {
            background-color: burlywood;
        }

        .data {
            background-color: darkkhaki;
        }

        .bold {
            font-weight: bold;
            padding-top: 20px;
        }

        .header {
            height: 20%;
            width: auto;
        }
        .row{
            padding-bottom:2%;
        }

    </style>

</head>

<body>
    @*<div class="container">
                <div class="row">
        <<<<<<< HEAD
                    <div class="col-12">
                        <img src= "~/Content/img/logo.png">
                    </div>*@
    @*<div class="col-1 data">zz</div>
        <div class="col-6 data">a</div>
        <div class="col-3 data">s</div>*@

    <div class="container">

        @*</div>*@
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-6"><img src="~/Content/img/parks/@item.ImageName"></div>
                <div class="col-6"><span class="bold">@item.ParkName</span> <br> @item.ParkDescription</div>
            </div>

        }

    </div>

</body>

</html>
