@using Capstone.Web.Models
@model List<Park>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <style>
        .row{
            background-color:aquamarine;
        }
        .data:nth-child(odd){
            background-color:burlywood;
        }
        .data{
            background-color:darkkhaki;
        }

    </style>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-2 data">Hi</div>
            <div class="col-1 data">zz</div>
            <div class="col-6 data">a</div>
            <div class="col-3 data">s</div>



        </div>
        <div class="row">
            <div class="col-3 data">Hi</div>
            <div class="col-6 data">zz</div>
            <div class="col-1 data">a</div>
            <div class="col-2 data">s</div>



        </div>



    </div>

</body>

</html>
